{% extends "index.html" %}
{% block tittle %} {{ STR_CURRENT_CHANNEL }} {% endblock %}
{% block chat %}
<!-- CHAT -->
<ul id="chat" class="list-group list-group-flush">
  {% for i in LIST_MESSAGES %}
  <li class='{{ i["username"] }} list-group-item d-flex justify-content-between align-items-start'>
    <div class="ms-2 me-auto text-break">
      <div class="fw-bold">{{ i["username"] }}</div>
      {{ i["msg"] }}
    </div>
    <span class="badge bg-primary rounded-pill">{{ i["date"] }}</span>
  </li>
  {% endfor %}
</ul>
<!-- END CHAT -->

<!-- MESSAGE INPUT -->
<form id="chat-block" class="container-fluid position-fixed bottom-0">
  <!-- INPUT --> 
  <div class="input-group">
    <textarea type="text" class="msg form-control" placeholder="message"></textarea>
  </div>
  <!-- CREDENTIALS -->
  <input type="text" id="username" value="{{ USER }}" hidden>
  <input type="text" id="current-channel" value="{{ STR_CURRENT_CHANNEL }}" hidden>

  <button type="button" class="btn btn-light" id="send">SEND</button>
</form>
<!-- END MESSAGE INPUT -->
{% endblock %}
